h3 {
    color: rgb(0, 0, 255);
}

.wrapper{
    background-color: rgb(228, 84, 40);
}

#wrap{
    background-color: rgba(108, 197, 238, 0.884);
}

.abs{
    position:absolute;
	right: 50px;
    top: 265px;
	background: #f5b3b3;
	width: 50px;
	height:50px;
	padding:2px;
	border: 1px solid black;
    border-radius: 5px;
}

.rel{
    position:relative;
	left: 50px;
	background: #00FFFF;
	width: 50px;
	height:50px;
	padding:2px;
	border: 1px solid black;
    border-radius: 5px;
}

.floatblock{
    border: solid red;
    max-width: 185px;
    margin: 20px;
}

.floatprop{
    float: left;
}

.panel{
    position: fixed;
    top: 500px;
    left: 0;
    background: green;
    width: 30px;
    height: 100px;
    font: 14px Arial;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    transition-duration: 0.3s;
    border-radius: 0 5px 5px 0;
}

.hiddenpanel{
    position: fixed;
    top: 500px;
    left: -200px;
    background: rgb(160, 160, 160);
    width: 200px;
    height: 110px;
    font: 14px Arial;
    color: rgb(0, 0, 0);
    text-align: left;
    transition-duration: 0.3s;
}

.panel:hover{
    left: 200px;
}

.panel:hover .hiddenpanel{
    left: 0;
}